!!! XML
%html
  %head
    - @title = 'NFC-Tag Sample'
    %title= @title
    %script{:type => 'text/javascript', :src => "./phonegap.js"}
    %script{:type => 'text/javascript', :src => './phonegap.nfc.js'}
    %script{:type => 'text/javascript', :src => "./jquery.js"}
    %script{:type => 'text/javascript', :src => "./main.js"}
  %body
    %h1= @title
    %div#nfc_tag
      tag : 
